@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 902px;
  width: 70%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header
{
  height: 41px;
  overflow: auto;
  background: #3A4044;
}
h1
{
  width: 10%;
  /*border: 1px solid;*/
  float: left;
}
h1 > a
{
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  text-indent: -9999px;
  overflow: auto;
}
h1 > a >img
{
  float: right; 
}
nav
{
  /*border: 1px solid;*/
  float: left;
  margin-top: 4px;
}
nav li
{
  vertical-align: middle;
  margin-left: 9px;
}
nav li a
{
  font-size: 12px;
  color: #A6ACA8;
}
nav li a:first-letter
{
  text-transform: capitalize;
}
nav li:nth-of-type(4)
{
  margin-left: 160px;
}
#manage-subscription
{
  /*border: 1px solid;*/
  overflow: auto;
} 
#manage-subscription > span:nth-of-type(1)
{
 float: left;
 color: white;
 margin: 7px;
}
#manage-subscription > div
{
  float: left;
}
#manage-subscription > div > span
{
  display: block;
}
#manage-subscription > div > span:first-letter
{
  text-transform: capitalize;
}
#manage-subscription > div > span:nth-of-type(2)
{
  color: #CB9749;
}
#manage-subscription > span:nth-of-type(2)
{
  margin : 8px;
  float: left;
}
#search
{
  /*border: 1px solid;*/
  width: 120px;
}
#search span
{
  color: white;
}
#search input
{
  border:none;
  background-color: inherit;
  width: 80px;
}




/*=================================
  Header styling ends here
=================================*/  

/*=================================
  Aside styling starts here
=================================*/

aside
{
  background: white;
  /*padding: 10px 0 1 0px;*/
}
aside div > a
{
  text-transform: uppercase;
  font-size: 11px;
  color: #000;
  font-weight: bold;
}
aside div > span
{
  margin-left: 450px;
  color: #ccc;
  font-size: 10px;
  text-transform: capitalize;
}
aside img
{
  width: 15%;
}

/*=================================
  Aside styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

main
{
  background-color: #1F3664;
  color: #fff;
  padding-bottom: 59px;
  border-bottom: 6px solid red;
}
section
{
  padding-top: 30px;
}
h2
{
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}
section div > p
{
  font-size: 11px;
  text-align: center;
  line-height: 15px;
  margin-top: 15px;
}
section div > p:first-letter
{
  text-transform: capitalize;
}
.article
{
  width: 100%;
  overflow: auto;
  border: 1px solid white;
  margin-top: 38px;
}
.article-div1
{
  width: 40%;
  float: left;
}
.article-div1 img:nth-of-type(1)
{
  width: 10%;
  position: absolute;
  border: 1px solid;
}
.article-div2
{
  box-sizing: border-box;
  width: 58%;
  float: left;
  padding: 20px 10px 0 20px;
}
.article-div2 h3 
{
  font-weight: bold;
  line-height: 25px;
}
.article-div2 h3:first-letter 
{
  text-transform: capitalize;
}
.article-div2 p 
{
  font-size: 11px;
  text-align: left;
  line-height: 17px;
}
.article-div2 a
{
  color: white;
  font-size: 10px;
  text-transform: capitalize;
  margin-top: 10px;
}


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer
{
  background-color: #191919;
  padding: 20px 0 20px;
}
.footer-top
{
  overflow: auto;
}
.footer-div1
{
  height: 157px;
  border-right: 1px solid #333;
  padding:0 20px;
  float: left;
}
.footer-div1 li
{
  display: block;
  margin-top: 10px;
}
.footer-div1 li a
{
  /*border: 1px solid;*/
  color: #eee;
  font-size: 11px;
  font-weight: bold;
}
.footer-div1 li a:first-letter
{
  text-transform: capitalize;
}
.footer-div2
{
  height: 157px;
  float: left;
  padding: 10px 150px 0px 20px;
}
.footer-div2 > span
{
  color: #777;
  font-size: 12px;
}
.footer-div2:first-letter
{
  text-transform: capitalize;
}
.footer-div2 li a,.footer-div2 >a
{
  color: #aaa;
}
.footer-div2 li a,.footer-div2 > a
{
  padding: 10px;
}
.footer-div2 > a
{
  font-size: 10px;
}
.footer-div3
{
  float: left;
  /*border: 1px solid;*/
  height: 157px;
  padding: 0 20px;
  border-left: 1px solid #555;
}
.footer-div3 li
{
  display: block;
  margin-top: 10px;
}
.footer-div3 li a
{
  /*border: 1px solid;*/
  color: #aaa;
  font-size: 11px;
  text-transform: capitalize;
}
.footer-middle .wrapper
{
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  padding:20px 0;

}
.footer-middle span,.footer-middle > div > p
{
  color: #555;
}
.footer-middle span
{
  text-transform: capitalize;
  line-height: 20px;
  display: block;
  text-align: center;
  font-size: 12px;
}
.footer-middle > div > p 
{
  margin: 0 auto;
  width: 34%;
  font-size: 11px;
}
.footer-bottom
{
  overflow: auto;
  margin-top: 10px;
}
.footer-bottom ul
{
  float: left;
}
.footer-bottom li
{
  margin-left: 6px;
}
.footer-bottom li a
{
  text-transform: capitalize;
  color: #aaa;
  font-size: 11px;
}
.footer-bottom span
{
  float: left;
  text-transform: capitalize;
  color: #777;
  font-size: 10px;
  margin-left: 120px;
}



 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  